body{
    background-color: darkgray
}
#show-contact {
    display: none;
  }
  
  .contact {
    cursor: pointer;
    color: #0088cc;
  }
  
  .contact:hover {
    text-decoration: underline;
  }  
  .btn{
      margin-top: 30px;
      margin-left: 100px;
      width: 70px;
      height:30px;
  }